<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.cursor.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cursor-mobile</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cursor Mobile needs access to your photos to attach images to chat messages.</string>
	<key>NSCameraUsageDescription</key>
	<string>Cursor Mobile needs access to your camera to take photos for chat messages.</string>
</dict>
</plist>
